<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
	<link rel="stylesheet" href="/resources/js/bootstrap/dist/css/bootstrap.min.css"></link>
	<script src="/resources/js/jquery/dist/jquery.min.js"></script>
	<script src="/resources/js/bootstrap/dist/js/bootstrap.min.js"></script>
<title>league of legend</title>
</head>
<body>
	<div class="container">
		<form class="form-signin" action="#" th:action="@{/heros/data/new}" th:object="${lolheroForm}"  enctype="multipart/form-data" method="post">
       		<h2>league of legend</h2>
        <table>
            <tr>
                <td>Hero's Nick Name:</td>
                <td><input type="text" th:field="*{nickname}" /></td>
                <td th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nick Name Error</td>
            </tr>
            <tr>
                <td>Hero's CN Name:</td>
                <td><input type="text" th:field="*{nameCn}" /></td>
                <td th:if="${#fields.hasErrors('nameCn')}" th:errors="*{nameCn}">CN Name Error</td>
            </tr>
            <tr>
                <td>Hero's EN Name:</td>
                <td><input type="text" th:field="*{nameEn}" /></td>
                <td th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}">EN Name Error</td>
            </tr>
            <tr>
				<td>Hero's Type:</td>
				<td><select name="herotype" th:field="*{type}">
					<option value="Marksman">射手</option>
					<option value="Tank">坦克</option>
					<option value="Assassin">刺客</option>
					<option value="Mage">法师</option>
					<option value="Support">辅助</option>
					<option value="Fighter">战士</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>英雄头像</td>
				<td><input name="heroheadpic" type="file" /></td>
			</tr>
			<tr>
				<td>英雄声音</td>
				<td><input name="herosound" type="file" /></td>
			</tr>
			<tr>
				<td>Hero's Story</td>
				<td>
				<textarea name="story" cols="34" th:field="*{story}">
				</textarea>
				</td>
				<td th:if="${#fields.hasErrors('story')}" th:errors="*{story}">Story Error</td>
			</tr>
            <tr>
                <td><button type="submit">Submit</button></td>
                <td><button type="reset">Reset</button></td>
            </tr>
        </table>
    </form>		
	</div>
</body>
</html>